.cart-hr {
  margin-top: 2rem;
}

.cart-footer {
  display: flex;
  align-items: baseline;

  margin: 2rem 20px;
}

.cart-footer__cost {
  margin-right: auto;
}

.cart__modal-edit {
  width: var(--width-page);
  max-width: 100%;
  padding: 3rem 1rem;
}

.cart__modal-buttons {
  display: flex;
}

.modal__btn-primary {
  width: 100%;
  margin-left: 1rem;
}

.modal__btn-secondary {
  padding: 0 1.5rem;

  border: 2px solid var(--color-primary);
  border-radius: var(--border-radius-sm);
}

.cart-modal-order {
  display: flex;
  flex-direction: column;

  width: 31.25rem;
  max-width: 100%;
  padding: 3rem 0 4rem;
}

.cart-modal-order__lead {
  font: inherit;

  margin: .625rem 0 0;

  text-align: center;
}

.cart-modal-order__form {
  display: flex;
  flex-direction: column;

  width: 21.875rem;
  margin: 0 auto;
}

.cart-modal-order__form > * {
  margin-top: 3.125rem;
}

.cart-modal-order__input {
  padding: 0 .5rem;

  border: none;
  border-bottom: 2px solid var(--color-secondary);
  border-radius: 0;
  outline: none;
}

.cart-modal-order__input:focus {
  border-bottom-color: var(--color-hero);
}

.cart-modal-order__buttons {
  display: flex;
}

.cart-modal-order__btn {
  font-weight: var(--font-semibold);

  width: 100%;
  margin-left: 1rem;
}

.cart-modal-order-info {
  display: flex;
  flex-direction: column;

  max-width: 25rem;
  padding: 2rem;
}

.cart-modal-order-info__info {
  line-height: 1.6;

  margin: 2rem 0 1rem;
}

@media (max-width: 42rem) {
  .cart-footer {
    flex-wrap: wrap;
  }

  .cart-footer .btn {
    flex-grow: 1;
  }

  .cart-footer__cost {
    flex-grow: 1;

    margin: 0 auto 1.25rem;

    text-align: center;
  }
}
