.login__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
}

.login__form {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-bottom: 10rem;
  padding: 3rem 3rem;
}

.login__heading {
  font-weight: var(--font-semibold);
}

.login__input {
  margin: 3rem 0 .5rem 0;
  padding: .2rem;

  border: none;
  border-bottom: 2px solid var(--color-secondary);
  outline: none;
  background: none;
}

.login__input:focus {
  border-color: var(--color-hero);
}

.login__btn {
  width: 100%;
  margin-top: 1.5rem;
}

.login__error {
  font-size: var(--font-size-sm);

  animation: error-appear .15s ease-out backwards;

  color: var(--color-danger);
}

@keyframes error-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
