.login__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
}

.login__form {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-bottom: 10rem;
  padding: 3rem 3rem;

  border-top: 2px solid var(--color-hero);
  border-bottom: 2px solid var(--color-hero);
  border-radius: var(--border-radius-md);
  background-color: var(--color-bg);
}

.login__heading {
  font-weight: var(--font-semibold);
}

.login__input {
  margin: 2rem 0 1.5rem;
  padding: .2rem;

  border: none;
  border-bottom: 2px solid var(--color-secondary);
  outline: none;
  background: none;
}

.login__input:focus {
  border-color: var(--color-hero);
}

.login__btn {
  width: 100%;
}
