.products {
  display: flex;
  flex-direction: column;

  max-width: 62.5rem;
  margin: 10vh auto;
  padding: 1rem;
}

.products__heading {
  font-size: 1.5rem;
  font-weight: 400;

  margin: 0;

  text-align: center;
}

.products__save {
  font: inherit;

  align-self: flex-end;
  padding: 1rem 3rem;

  cursor: pointer;
  transition: all 0.2s;

  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  background-color: transparent;
}

.products__save:hover,
.products__save:focus {
  color: white;
  outline: none;
  background-color: var(--primary-color);
}

.product {
  margin: 3.75rem 0;
}

.product__name {
  font-size: 1rem;

  margin: 0;

  text-align: center;
  text-transform: uppercase;
}

.product-group {
  margin-top: 0.625rem;
}

.product-group:not(:first-of-type) {
  margin-top: 1.25rem;
}

.product-group__name {
  font-size: 1rem;

  margin: 0;
}

.product-group__row {
  display: flex;

  margin-left: 1.25rem;
}

.product-group__input {
  display: flex;
  flex-basis: 25%;
  flex-direction: column;

  margin-top: 0.5rem;

  text-align: center;
  text-transform: lowercase;
}

.product-group__input input {
  margin-top: 0.5rem;
}

.product-group__input:not(:first-child) {
  margin-left: 8%;
}
