.products {
  display: flex;
  flex-direction: column;

  max-width: 62.5rem;
  margin: 4rem auto;
  padding: 0 1rem;
}

.products__save {
  align-self: flex-end;
}

.product {
  margin: 3.75rem 0;
}

.product__name {
  font-weight: var(--font-semibold);

  margin: 0;

  text-transform: uppercase;
}

.product-group {
  margin-top: .625rem;
}

.product-group:not(:first-of-type) {
  margin-top: 1.25rem;
}

.product-group__name {
  font-size: var(--font-size-rg);
  font-weight: var(--font-semibold);

  margin: 0;
}

.product-group__row {
  display: flex;

  margin-left: 1.25rem;
}

.product-group__input {
  display: flex;
  flex-basis: 25%;
  flex-direction: column;

  margin-top: .5rem;

  text-align: center;
  text-transform: lowercase;
}

.product-group__input input {
  margin-top: .5rem;
}

.product-group__input:not(:first-child) {
  margin-left: 8%;
}
