.admin-nav {
  display: flex;
  flex-direction: column;

  margin-top: 20vh;
}

.admin-nav__link {
  font-size: var(--font-size-md);

  padding: 1.25rem 2rem;

  transition: color .15s ease-out;

  color: inherit;
}

.admin-nav__link:hover,
.admin-nav__link:focus {
  color: var(--color-inverse);
  outline: none;
}

.admin-nav__link--active {
  color: var(--color-inverse);
  background-color: rgba(255, 255, 255, .2);
}
