.product-card {
  display: flex;

  margin: 1rem 0;
  padding: 0 1rem;
}

.product-card__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  margin: 1rem 0;
}

.product-card__header {
  display: flex;
}

.product-card__name {
  font-size: var(--font-size-rg);
  font-weight: var(--font-semibold);

  margin: 0 2rem 0 0;
}

.product-card__button {
  font-size: var(--font-size-sm);

  margin: 0 1rem;
  padding: 0;

  cursor: pointer;

  opacity: .75;
  border: none;
  background: none;
}

.product-card__button:hover,
.product-card__button:focus {
  opacity: 1;
  color: var(--color-hero);
  outline: none;
}

.product-card__params {
  font-size: var(--font-size-sm);
  line-height: 1.5;

  margin: 1rem 0;
  padding: 0 10px;

  list-style: none;
}

.product-card__final-info {
  margin-top: auto;
}

.final-info__count {
  margin-left: 3.125rem;
}

.product-card__image {
  max-width: 300px;
}

@media (max-width: 50rem) {
  .product-card__header {
    flex-wrap: wrap;
  }

  .product-card__name {
    flex-basis: 100%;
  }

  .product-card__button {
    margin: .5rem 1rem 0 0;
  }

  .product-card__final-info {
    display: flex;
    flex-direction: column-reverse;
  }

  .final-info__count {
    margin: 0 0 .5rem 0;
  }
}

@media (max-width: 31rem) {
  .product-card {
    align-items: center;
    flex-direction: column;
  }
}
