.admin-page__container {
  position: relative;
}

.admin__sidebar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  width: 18.75rem;
  height: 100%;

  color: var(--color-secondary);
  background-color: var(--color-primary);
}

.admin__main-container {
  margin-left: 18.75rem;
}
