.admin-page__container {
  position: relative;
}

.admin__sidebar {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;

  width: 300px;
  height: 100%;

  color: #fff;
  background-color: #42474d;
}

.admin__main-container {
  margin-left: 300px;
}
