.admin-page__container {
  position: relative;
}

.admin__sidebar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 18.75rem;
  height: 100%;

  color: var(--color-secondary);
  background-color: var(--color-primary);
}

.admin__main-container {
  margin-left: 18.75rem;
}

.admin-container {
  max-width: var(--width-page);
  margin: 4rem auto 5rem;
}

.admin__logout-btn {
  width: 100%;
  margin: auto 0 1rem 0;
  padding: 1rem;

  opacity: .75;
  color: var(--color-secondary);
}

.admin__logout-btn:hover,
.admin__logout-btn:focus {
  opacity: 1;
  color: var(--color-secondary);
}

@media print {
  .admin__main-container {
    margin-left: 0;
  }
  .admin-container {
    max-width: 100%;
    margin: 0;
  }
}
