.navbar {
  position: fixed;
  z-index: 100;
  top: 0;

  width: 100%;
  height: 4.375rem;
  max-height: 10vh;

  color: var(--color-inverse);
  background-color: var(--color-primary);
}

.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 68.75rem;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.navbar__header {
  font-size: var(--font-size-rg);
  font-weight: var(--font-semibold);

  text-transform: uppercase;

  color: var(--color-inverse);
}

.navbar__link {
  display: flex;
  align-items: center;

  height: 100%;
  padding: 0 1rem;

  text-decoration: none;

  color: var(--link-color);
}
