.window-options {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.window-options__caption {
  margin-right: 2rem;
}

.window-options__select {
  order: 2;

  margin: .25rem .625rem 0;
}

.window-options__checkbox {
  flex-basis: 60%;

  color: var(--color-secondary-dark);
}
