.admin-orders-list-wrapper {
  overflow-x: auto;

  max-width: 100%;
  margin-bottom: 2rem;
}

.admin-orders-list-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 2rem 0 1rem;
}

.admin-orders-pagination {
  display: flex;
  justify-content: center;
}

.admin-orders-pagination__input {
  margin: 0 .5rem;
}

.admin-orders-pagination__btn {
  padding: 0 1rem;

  transition: color .15s;

  color: var(--color-secondary);
}

.admin-orders-pagination__btn:hover,
.admin-orders-pagination__btn:focus {
  color: var(--color-primary);
}

.admin-orders-prev-icon {
  line-height: 1;

  width: .85rem;

  fill: currentColor;
}

.admin-orders-next-icon {
  line-height: 1;

  width: .85rem;

  transform: rotateZ(180deg);

  fill: currentColor;
}

.admin-orders-pagination__btn:disabled {
  cursor: initial;

  opacity: 0;
}

.input {
  font-size: 1rem;

  margin: 0 .5rem;
  padding: 0 .5rem;

  border: none;
  border-bottom: 2px solid var(--color-secondary);
  border-radius: 0;
}

.input:focus {
  border-bottom-color: var(--color-hero);
  outline: none;
}
