* {
  box-sizing: border-box;
}

:root {
  --text-color: #2c3e50;
  --link-color: #bdc3c7;
  --bg-color: #f9f9f9;
  --border-color: #e1e1e1;
  --primary-color: #2980b9;

  --color-hero: #3498db;
  --color-primary: #34495e;
  --color-secondary: #ccd1d7;
  --color-inverse: #fff;
  --color-bg: #f8f8f8;

  --font-size-lg: 1.5rem;
  --font-size-md: 1.125rem;
  --font-size-rg: 1rem;
  --font-size-sm: .875rem;

  --font-semibold: 600;
  --font-regular: 400;

  --border-radius-md: .625rem;
  --border-radius-sm: .3125rem;

  --shadow-light: 0 4px 2px -2px rgba(0, 0, 0, .1);
}

body {
  font-family: "Open Sans", sans-serif;

  margin: 0;
  padding: 0;

  color: var(--color-primary);
  font-size: var(--font-size-rg);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="number"] {
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;

  -webkit-appearance: none;
}

a {
  text-decoration: none;
}
