:root {
  --color-hero: #3498db;
  --color-primary: #34495e;
  --color-secondary: #ccd1d7;
  --color-secondary-dark: #68768a;
  --color-inverse: #fff;
  --color-bg: #f8f8f8;
  --color-danger: #e74c3c;

  --width-page: 68.75rem;

  --font-size-lg: 1.5rem;
  --font-size-md: 1.125rem;
  --font-size-rg: 1rem;
  --font-size-sm: 0.875rem;

  --font-semibold: 600;
  --font-regular: 400;

  --border-radius-md: 0.625rem;
  --border-radius-sm: 0.3125rem;
}
