:root {
  --text-color: #2c3e50;
  --link-color: #bdc3c7;
  --bg-color: #f9f9f9;
  --border-color: #e1e1e1;
  --primary-color: #2980b9;

  --color-hero: #3498db;
  --color-primary: #34495e;
  --color-secondary: #ccd1d7;
  --color-secondary-dark: #68768A;
  --color-inverse: #fff;
  --color-bg: #f8f8f8;

  --width-page: 68.75rem;

  --font-size-lg: 1.5rem;
  --font-size-md: 1.125rem;
  --font-size-rg: 1rem;
  --font-size-sm: 0.875rem;

  --font-semibold: 600;
  --font-regular: 400;

  --border-radius-md: 0.625rem;
  --border-radius-sm: 0.3125rem;

  --shadow-light: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}
